version: 2.1

orbs:
  lumigo-orb: &lumigo_orb_version lumigo/lumigo-orb@dev:8f394ae

defaults: &defaults
  docker:
  - image: lumigo/ci:latest
    auth:
      username: lumigo
      password: $DOCKERHUB_PASSWORD
  working_directory: ~/opentelemetry-python-distro

workflows:
  test-deploy:
    jobs:
    - lumigo-orb/print_orb_versions:
        lumigo_orb_version: *lumigo_orb_version

    - test:
        context: common
        filters:
          branches:
            ignore: main
    - lumigo-orb/is_environment_available:
        context: common
        filters:
          branches:
            ignore: main
    - lumigo-orb/be-deploy:
        context: common
        requires:
          - lumigo-orb/is_environment_available
    - lumigo-orb/integration-test-prep:
        context: common
        deploy_spec: python
        requires:
          - lumigo-orb/be-deploy
    - lumigo-orb/integration-test-limited-flows:
        context: common
        requires:
          - lumigo-orb/integration-test-prep
    - lumigo-orb/integration-test-parallel:
        context: common
        requires:
          - lumigo-orb/integration-test-limited-flows
    - lumigo-orb/e2e-test:
        context: common
        requires:
          - lumigo-orb/integration-test-parallel
    - lumigo-orb/workflow-completed-successfully:
        requires:
          - test
          - lumigo-orb/e2e-test

    - deploy:
        context:
          - common
          - twine
        filters:
          branches:
            only: main

jobs:
  test:
    <<: *defaults
    steps:
      - lumigo-orb/checkout_code
      - lumigo-orb/checkout_utils
      # run tests!
      - run: . venv/bin/activate && pip uninstall lumigo_opentelemetry -y && pip install -e .
      - run: . venv/bin/activate && pip install -r requirements.txt && ./scripts/checks.sh
      - run: ../utils/common_bash/defaults/code_cov.sh

  deploy:
    <<: *defaults
    steps:
      - lumigo-orb/checkout_code
      - lumigo-orb/checkout_utils
      - run: . venv/bin/activate && pip install -r requirements.txt && ./scripts/bd_to_prod.sh
